
 .container{
    width: 720px;
    margin: auto;
  }
.article-container{
    height: 210px;
    width: 100%;
    background: white;
    margin-top: 20px;
    border:solid 1px rgba(161, 161, 163, 0.226);
    cursor: pointer;

}

.align-products{
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.headline{
    display: flex;
    justify-content: left;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    margin: 0;
}
.sub-title{
    font-weight: lighter;
    margin-left: 5px;
}

.margin-container{
  height: 170px;
  width: 720px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.margin-container{
  width: 720px;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}
.title{
  margin-top: 5px;
  font-weight: bold;
  display: inline-block;
  width: 40%;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  /* text-align: left; */
}
.image{
  height: 140px;
  width: 30%;
  border:rgba(42, 61, 165, 0.013) solid 1px;
  margin-left: 10px;
  display: inline-block;
}
.author{
  color: rgb(80, 80, 80);
  width: 10%;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  text-align: left;  /* text-align: left; */
}
.date{
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.466);
  float: right;
}
.read-btn{
  width: 20%;
  display: inline-block;
  border-radius: 2px;
  color: rgb(16, 93, 112);

}
.read-btn-text{
  text-decoration: none;
  color: rgb(16, 93, 112);
  font-size: 16px;
}
.read-btn-text:hover{
  cursor: pointer;
  color: rgba(38, 177, 212, 0.931);
  text-decoration: underline;
}
.read-btn:hover{
  cursor: pointer;
  color: #08a0a8d7;
  text-decoration: underline;
}

.bottom{
  padding-bottom: 30px;
  font-family: 'Oswald', sans-serif;

}
.page-container{
  bottom:0;
  display: flex;
  justify-content: center;
}
.addfav-btn{
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  background-color: rgba(97, 97, 97, 0.075);
  margin-left: 12px;
  padding: 1px;
  color: rgba(0, 0, 0, 0.555);
  border-radius: 2px;
  float: left;
}
.deletefav-btn{
  background-color:  rgba(97, 97, 97, 0.075);
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  padding: 1px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.555);
  border-radius: 2px;
  float: left;
}
.deletefav-btn:hover{
cursor: pointer;
/* background-color: rgba(143, 3, 3, 0.137); */
background-color: #08a0a841;
}
.addfav-btn:hover{
  cursor: pointer;
/* background-color: rgba(38, 136, 58, 0.219); */
background-color: #08a0a841;
}