.update-btn{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  display: inline-block;
  background-color: rgba(12, 107, 24, 0.548);
  margin-right: 70px;
  margin-left: 5px;
  margin-top: 20px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  color: aliceblue;
  border-radius: 2px;
  float: right;
}
.delete-btn{
  background-color: rgba(19, 108, 149, 0.548);
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-left: 5px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  color: aliceblue;
  border-radius: 2px;
  margin-top: 20px;
  float: right;
}
.delete-btn:hover{
cursor: pointer;
background-color: rgba(17, 96, 149, 0.712);
}
.update-btn:hover{
cursor: pointer;
background-color: rgba(12, 136, 37, 0.849);
}
.read-btn-user{
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.301);
  margin-left: 5px;
  padding: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  color: aliceblue;
  border-radius: 2px;
  float: right;
}
.read-btn-user:hover{
  cursor: pointer;
background-color: rgba(0, 0, 0, 0.363);
}
.date-user{
  margin-top: 5px;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
  width: 30%;
  display: inline-block;
  color: gray;
  float: right;
}
.title-user{
  margin-top: 5px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  width: 30%;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  margin-left: 50px;
  /* text-align: left; */
}

.author-user{
  color: rgb(80, 80, 80);
  width: 30%;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-align: left;  /* text-align: left; */
}